*.py[cod]
*.html
*.png
_version.py

*.egg-info
.eggs/*
__pycache__/*
dist/*

.coverage
.coverage.*
htmlcov/*

doc/build/*
build/*

.idea/*
.vscode/

**/.ipynb_checkpoints
*~*

.venv/
/venv/*
/trading/stock_data_akshare_hfq/
/trading/stock_data_cleaned/
/trading/stock_data/
/venv/lib/
/venv/lib64/
trading/tushare_data/